<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conichi</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


<div class="container">

    <h1>Application Currency Conversion</h1>

    <div class="row">


        <p th:text= "${quantity}"></p> <p th:text= "${From}"></p> <p th:text= "${TotalAmount}"></p><p th:text= "${To}">=</p>

    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>
